{% block offer %}
	<section class="offer">
		<div class="container container--padding">
			<div class="offer__wrap">
				<div class="offer__content">
					<div class="offer__slider">
						<div class="offer__slider-arrow offer__slider-arrow--left">
							{% include '/assets/svg/arrow-right.svg' %}
						</div>
						<img src="img/great-deal.png" alt="slider photo" class="offer__slider-photo">
						<div class="offer__slider-arrow offer__slider-arrow--right">
							{% include '/assets/svg/arrow-right.svg' %}
						</div>

						<div class="offer__slider-dots">
							<div class="offer__slider-dots-wrap">
								{% include '/assets/svg/slider-active.svg' %}
								{% include '/assets/svg/slider-inactive.svg' %}
								{% include '/assets/svg/slider-inactive.svg' %}
								{% include '/assets/svg/slider-inactive.svg' %}
							</div>
						</div>
					</div>

					<div class="offer__aside offer__content-aside">
						<div class="offer__content-aside-wrap">
							<div class="offer__aside-daybook">
								<p>Книга дня</p>
								<div class="offer_aside-daybook-time">08:56:31</div>
							</div>
							<img src="img/daybook.png" alt="book of the day">
							<div class="offer__aside-desc">
								<p class="offer__aside-desc-item">Корпоративное право</p>
								<p class="offer__aside-desc-item">Инвестирование: способы, риски, субъекты : монография</p>
								<p class="offer__aside-desc-item">Майфат А.В.</p>
								<p class="offer__aside-desc-item">4 450 ₽</p>
							</div>
							<div class="offer__aside-actions">
								<button class="g-button-cart">
									{% include '/assets/svg/orange-cart.svg' %}
									В корзину
								</button>
								<button class="g-button-tabs">
									{% include '/assets/svg/tabs.svg' %}
								</button>
							</div>
						</div>
						
					</div>
				
					<div class="offer__promotion">
						<div class="offer__promotion-wrap">
							<div class="offer__promotion-text">
								<p> Бесплатно доставим ваш заказ при покупке от 2000 ₽ </p> 
								<div class="offer__promotion-line">{% include '/assets/svg/orange-line.svg' %}</div>
							</div>
							<div class="offer__promotion-svg">
								{% include '/assets/svg/free-delivery.svg' %}
							</div>
						</div>
						
					</div>

					<div class="offer__promotion offer__discount">
						<div class="offer__promotion-wrap">
							<div class="offer__promotion-text offer__promotion-text--blue">
								<p>Скидка <br> при регистрации <br> до 15%</p> 
								<div class="offer__promotion-line offer__promotion-line--cyan">{% include '/assets/svg/cyan-line.svg' %}</div>
							</div>
							<div class="offer__promotion-svg">
								{% include '/assets/svg/discount-reg.svg' %}
							</div>
						</div>
						
					</div>
				</div>
				<div class="offer__aside offer__aside-desktop">
					<div class="offer__aside-daybook">
						<p>Книга дня</p>
						<div class="offer_aside-daybook-time">08:56:31</div>
					</div>
					<img src="img/daybook.png" alt="book of the day" class="">
					<div class="offer__aside-desc">
						<p class="offer__aside-desc-item">Корпоративное право</p>
						<p class="offer__aside-desc-item">Инвестирование: способы, риски, субъекты : монография</p>
						<p class="offer__aside-desc-item">Майфат А.В.</p>
						<p class="offer__aside-desc-item">4 450 ₽</p>
					</div>
					<div class="offer__aside-actions offer__aside-actions-desktop">
						<button class="g-button-cart">
							{% include '/assets/svg/orange-cart.svg' %}
							В корзину
						</button>
						<button class="g-button-tabs">
							{% include '/assets/svg/tabs.svg' %}
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}