{% block benefit %}
	<section class="benefit">
		<div class="container container--padding">
			<div class="benefit__wrap">
				<div class="benefit__card benefit__card-1">
					<div class="benefit__card-img">
						<img src="img/delivery.png" alt="delivery">
					</div>
					<div class="benefit__card-text">
						<h2>Быстрая доставка</h2>
						<p>Доставим бесплатно <br> от 2000 ₽ по всей России</p>
					</div>
				</div>
				<div class="benefit__card benefit__card-2">
					<div class="benefit__card-img">
						<img src="img/payment.png" alt="payment">
					</div>
					<div class="benefit__card-text">
						<h2>Безопасная оплата</h2>
						<p>Плати безопасно и легко онлайн на нашем сайте.</p>
					</div>
				</div>
				<div class="benefit__card benefit__card-3">
					<div class="benefit__card-img">
						<img src="img/bonus.png" alt="bonus">
					</div>
					<div class="benefit__card-text">
						<h2>Бонусная программа</h2>
						<p>Дополнительная скидка 15% при регистрации</p>
					</div>
				</div>
				<div class="benefit__card benefit__card-4">
					<div class="benefit__card-img">
						<img src="img/choice.png" alt="choice">
					</div>
					<div class="benefit__card-text">
						<h2>Большой выбор</h2>
						<p>Ежегодно выходит в свет более 100 книг</p>
					</div>
					
				</div>
			</div>
		</div>
	</section>
{% endblock %}