
// Пример подключения
// -------------------
@font-face
{
	font-family: 'Roboto-mono';
	src: url('./fonts/Roboto_mono/Light/RobotoMono-Regular.eot');
	src:url('./fonts/Roboto_mono/Light/RobotoMono-Regular.woff2') format('woff2'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Gosha Sans';
	src: url('./fonts/Gosha_sans/GoshaSans-Regular.eot');
	src: url('./fonts/Gosha_sans/GoshaSans-Regular.woff2') format('woff2'),
		 url('./fonts/Gosha_sans/GoshaSans-Regular.woff') format('woff');

	font-weight: 400;
	font-style: normal;
}