{% block release %}
	<section class="supply">
		<div class="container container--padding">
			<div class="supply__wrap">
				<div class="supply__heading">
					<h2>Готовятся к выходу</h2>
					<div class="supply__heading-switch">
						<button class="supply__heading-switch-btn">
							{% include '/assets/svg/chevron-left.svg' %}
						</button>
						<button class="supply__heading-switch-btn">
							{% include '/assets/svg/chevron-right.svg' %}
						</button>
					</div>
				</div>

				<div class="supply__catalog">

					<div class="supply__catalog-card">
						<div class="supply__catalog-offer">
							<p>Бестселлер</p>
							<p>1+1+3</p>
						</div>
						<div class="supply__catalog-photo">
							<img src="img/north-south.png" alt="north-south">
						</div>
						<div class="supply__catalog-card-desc">
							<p>Корпоративное право</p>
							<p>Инвестирование: способы, <br> риски, субъекты : монография</p>
							<p>Майфат А.В.</p>
							<p>4 450 ₽</p>
						</div>
						<div class="supply__catalog-card-rating supply__catalog-card-rating--yellow">
							<p>
								{% include '/assets/svg/star-1.svg' %} 4.9
							</p>
							<p> {% include '/assets/svg/like.svg' %} 89% рекомендуют</p>
						</div>
						<div class="supply__catalog-actions">
							<button class="g-button-cart">
								{% include '/assets/svg/orange-cart.svg' %}
								В корзину
							</button>
							<button class="g-button-tabs">
								{% include '/assets/svg/tabs.svg' %}
							</button>
						</div>
					</div>

					<div class="supply__catalog-card">
						<div class="supply__catalog-offer">
							<p class="supply__catalog-offer-novelty">Новинка</p>
						</div>
						<img src="img/vitya.png" alt="vitya">
						<div class="supply__catalog-card-desc">
							<p>Договорное право</p>
							<p>Договор коммерческой <br> концессии (франчайзинг). Граж...</p>
							<p>Багдасарян А.Ф.</p>
							<p>372 ₽</p>
						</div>
						<div class="supply__catalog-card-rating">
							<p>
								{% include '/assets/svg/star-2.svg' %} 4.9
							</p>
							<p> {% include '/assets/svg/like.svg' %} 89% рекомендуют</p>
						</div>
						<div class="supply__catalog-actions">
							<button class="g-button-cart">
								{% include '/assets/svg/orange-cart.svg' %}
								В корзину
							</button>
							<button class="g-button-tabs">
								{% include '/assets/svg/tabs.svg' %}
							</button>
						</div>
					</div>

					<div class="supply__catalog-card">
						<img src="img/meadow.png" alt="meadow">
						<div class="supply__catalog-card-desc supply__catalog-card-desc--red">
							<p>Конкурентное право</p>
							<p>Договор коммерческой <br> концессии (франчайзинг). Граж...</p>
							<p>Башлаков-Николаев И.В.</p>
							<p> 
								<span>984 ₽</span>
								<span>1284 ₽</span>
								<span>Выгода 300 ₽</span>
							</p>
						</div>
						<div class="supply__catalog-card-rating">
							<p>
								{% include '/assets/svg/star-2.svg' %} 4.9
							</p>
							<p> {% include '/assets/svg/like.svg' %} 89% рекомендуют</p>
						</div>
						<div class="supply__catalog-actions">
							<button class="g-button-cart">
								{% include '/assets/svg/orange-cart.svg' %}
								В корзину
							</button>
							<button class="g-button-tabs">
								{% include '/assets/svg/tabs.svg' %}
							</button>
						</div>
					</div>

					<div class="supply__catalog-card">
						<div class="supply__catalog-offer">
							<p>Бестселлер</p>
							<p>1+1+3</p>
						</div>
						<div class="supply__catalog-photo">
							<img src="img/north-south.png" alt="north-south">
						</div>
						<div class="supply__catalog-card-desc">
							<p>Корпоративное право</p>
							<p>Инвестирование: способы, <br> риски, субъекты : монография</p>
							<p>Майфат А.В.</p>
							<p>450 ₽</p>
						</div>
						<div class="supply__catalog-card-rating">
							<p>
								{% include '/assets/svg/star-2.svg' %} 4.9
							</p>
							<p> {% include '/assets/svg/like.svg' %} 89% рекомендуют</p>
						</div>
						<div class="supply__catalog-actions">
							<button class="g-button-cart">
								{% include '/assets/svg/orange-cart.svg' %}
								В корзину
							</button>
							<button class="g-button-tabs">
								{% include '/assets/svg/tabs.svg' %}
							</button>
						</div>
					</div>
				</div>
				<div class="supply__show">
					<p>Показать все книги раздела</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}