.container--padding
{
	@media (max-width: 768px) { padding: 0 10px;}
}

.footer
{
    margin-top: 30px;
    background: rgba(40, 47, 54, 0.04);
	color: #1C294D;
    font-family: 'Roboto', sans-serif;
}

.footer__networks
{
    display: none;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    // border-bottom: 1px solid rgba(28, 41, 77, 0.15);
    @media (max-width: 768px) {display: flex;}
}

.footer__networks-photo
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__line
{
	margin: 0;
	border: none;
	// color: #DFE0E1;
	background-color: rgba(28, 41, 77, 0.15);
	height: 2px;
    display: none;
	@media (max-width: 768px) {display: block;}
}

.footer__line-bottom
{
	display: block;
}

.footer__top
{
    padding: 25px 0;
    display: flex;
	align-items: center;
	justify-content: space-between;
    @media (max-width: 768px) 
    { 
        padding: 21px 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer__top-logo
{
	height: 40px;
	max-width: 50px;
	width: 100%;
	// @media (max-width: 768px) {margin-left: 20px;}
}

.footer__top-wrap
{
	max-width: 450px;
	width: 100%;
	height: 40px;
	margin-left: 30px;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	@media (max-width: 768px) {
		margin-left: 20px;
		form
		{
		   width: auto;
		}
	}
}

.footer__top-wrap-input
{
	max-width: 443px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #DFE0E1;
    background-color: #fff;
	text-indent: 15px;
	&::placeholder{ color: rgba(28, 41, 77, 0.5);}
	&:nth-of-type(2) {display: none;}
	@media (max-width: 768px) 
	{
		&:nth-of-type(1) {display: none;}
		&:nth-of-type(2) {display: block;}
	}
}

.footer__top-wrap-btn
{
	width: 50px;
    height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 1px;
    background-color: #FF5C00;
    @media (max-width: 768px)  {right: -6px;}
}

.footer__top-networks
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    @media (max-width: 768px) {display: none;}
}

.footer__bottom-wrap
{
	background-color: #fff;
}

.footer__bottom-links
{
	display: flex;
	padding: 45px 0;
}

.footer__bottom-links-column
{
	display: flex;
	flex-direction: column;
	max-width: 165px;
	width: 100%;
	&:nth-of-type(4) {max-width: 170px;}
	&:last-child 
	{
		svg {margin-right: 9px;}
		p 
		{
			display: flex;
			align-items: center;
		}
	}
	margin-right: 30px;
	h2
	{
		font-weight: 600;
		font-size: 14px;
		margin-bottom: 24px;
	}
	p
	{
		margin: 0;
		&:not(:last-child) {margin-bottom: 15px;}
		font-size: 14px;
		color: rgba(40, 47, 54, 0.8);
		// border-top: 1px solid #1C294D;
	}
}

.footer__bottom-links-wrap
{
	display: flex;
	svg{margin-top: 2px;}
	p {margin-left: 5px;}
	span
	{
		display: block;
		// background-color:antiquewhite;
		&:nth-of-type(1) 
		{
			margin-bottom: 0;
			line-height: 20px;
		}
		&:nth-of-type(2) 
		{
			font-size: 12px;
			line-height: 15px;
			color: rgba(40, 47, 54, 0.5);
		}
	}
}

.footer__bottom-privacy
{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 45px;
	p
	{
		margin: 0;
		font-size: 14px;
		color: rgba(40, 47, 54, 0.8);
		&:first-child {color: rgba(40, 47, 54, 0.5);}
		// border-top: 1px solid #1C294D;
	}
}

.footer__bottom-privacy-wrap 
{
	display: flex;
	color: rgba(40, 47, 54, 0.8);
	p
	{
		&:first-child 
		{
			color: rgba(40, 47, 54, 0.8);
			margin-right: 67px;
		}
		&:nth-of-type(2) {margin-right: 30px;}
	}
}