.container--padding
{
	@media (max-width: 768px) { padding: 0 10px;}
}

.supply__wrap
{
	margin-top: 30px;
	// margin-bottom: 30px;
	background: #FFFFFF;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	@media (max-width: 768px) { margin-top: 10px;}
}

.supply__heading
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 61px;
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);

	h2 
	{
		margin-left: 25px;
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 600;
	}
}

.supply__heading-switch
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 30px;
	margin-right: 25px;
}

.supply__heading-switch-btn
{
	height: 30px;
	width: 30px;
	border: 1.5px solid rgba(28, 41, 77, 0.15);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	&:nth-of-type(1) {border-right: 0.5px solid rgba(28, 41, 77, 0.15);}
	&:nth-of-type(2) 
	{
		border-radius: 0px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
}

.supply__catalog 
{
	display: flex;
	justify-content: space-between;
	@media (max-width: 1230px) {justify-content: center;}
}

.supply__catalog-card
{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-top: 25px;
	max-width: 290px;
	width: 100%;

	.supply__catalog-photo
	{
		width: 100%;
		max-height: 200px;
		img
		{
			width: 100%;
			height: 100%;
			object-fit:	contain;
		}
	}
	
	&:nth-of-type(1) 
	{
		max-width: 278px;
		width: 100%;
		
		.supply__catalog-offer{ left: 20px; }
		.supply__catalog-card-desc 
		{ 
			align-self: flex-start;
			margin-left: 20px;
			max-width: 205px;
		}
		.g-button-cart { margin-left: 20px;}
		@media (max-width: 768px) 
		{ 
			max-width: 290px;
			.supply__catalog-card-desc { margin: 0 10px;}
			.g-button-cart { margin-left: 10px;}
			.supply__catalog-offer{ left: 10px; }
		}
	}
	border-right: 1px solid rgba(28, 41, 77, 0.15);
	&:nth-of-type(4) 
	{
		border-right: none;
		.supply__catalog-card-desc 
		{ 
			align-self: flex-start;
			margin-left: 34px;
		}
	}
	@media (max-width: 1230px) 
	{
		&:nth-of-type(3) {display: none;}
	}
	@media (max-width: 905px) 
	{
		&:nth-of-type(2) {display: none;}
	}
	@media (max-width: 768px) 
	{
		.supply__catalog-card-rating
		{
			display: block;
			width: auto;
			align-self: flex-start;
		}
		.supply__catalog-photo {max-height: 180px;}
		&:nth-of-type(4) 
		{
			.supply__catalog-card-desc 
			{ 
				margin: 0 10px;
			}
		}
	}
}

.supply__catalog-offer
{
	position: absolute;
	top: 20px;
	left: 35px;
	font-size: 12px;
	p
	{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25px;
		margin: 0;
		text-align: center;
		&:nth-of-type(1)
		{
			width: 86px;
			background: #EEE9F7;
			border-radius: 5px;
			color: #AC8EE3;
		}
		&:nth-of-type(2)
		{
			margin-top: 10px;
			width: 54px;
			background: #FFEEEE;
			border-radius: 5px;
			color: #FF4F52;
		}
	}

	p.supply__catalog-offer-novelty
	{
		width: 70px;
		background-color: #E2F6EC;
		color: #3DC47E;
	}
	@media (max-width: 768px) { left: 10px;}
}


.supply__catalog-card-desc
{
	// margin-left: 10px;
	width: auto;
	p
	{
		margin: 0;
		margin-bottom: 8px;
		max-width: 223px;
		// width: 100%;
		white-space: wrap;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		&:first-child
		{
			font-size: 12px;
			color: rgba(28, 41, 77, 0.5);
			margin-top: 15px;
		}
		&:nth-child(2)
		{
			font-size: 14px;
			font-weight: bold;
			color: rgba(28, 41, 77, 1);
			line-height: 19px;
			white-space: wrap;
			text-overflow: ellipsis;
		}
		&:nth-child(3)
		{
			font-size: 12px;
			color: rgba(28, 41, 77, 1);
		}
		&:last-child
		{
			font-weight: 700;
			font-size: 18px;
			color: #1C294D;
			margin-bottom: 10px;
		}
	}
}

.supply__catalog-card-desc--red
{
	font-weight: light;
	p
	{
		&:last-child {font-weight: 400;}
	}
	span
	{
		margin-right: 7px;
		&:first-child
		{
			color: #FD3A3A;
			font-weight: 700;
		}
		&:nth-child(2)
		{
			font-size: 12px;
			font-weight: 400px;
			color: rgba(28, 41, 77, 0.5);
			background-image: linear-gradient(-5deg, transparent 45%, #FD3A3A, transparent 54%);
  			background-repeat: no-repeat;
		}
		&:nth-child(3)
		{
			font-size: 12px;
			font-weight: 400px;
			color: #0DB98C;
		}
	}
}

.supply__catalog-card-rating
{
	display: flex;
	// background-color:#AC8EE3;
	width: 100%;
	padding-left: 0;
	p
	{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25px;
		font-size: 12px;
		border-radius: 5px;
		&:nth-of-type(1)
		{
			width: 52px;
			background-color: rgba(255, 163, 77, 0.15);
			margin-left: 35px;
			color: #FFA34D;
			font-weight: 600;
			svg{margin-right: 4px;}
		}
		&:nth-of-type(2)
		{
			width: 144px;
			margin-left: 10px;
			background: rgba(121, 134, 203, 0.15);
			// opacity: 0.15;
			color: #7986CB;
			font-weight: 500;
			svg{margin-right: 6px;}
		}
	}
	@media (max-width: 768px) 
	{
		p
		{
			margin-left: 10px;
			&:nth-of-type(1)
			{
				margin-left: 10px;
			}
		}
	}
}

.supply__catalog-card-rating--yellow
{
	padding-left: 20px;
	p
	{
		
		&:nth-of-type(1)
		{
			margin-left: 0;
			background-color: rgba(251, 192, 45, 0.15);
			color: #FBC02D;
		}
	}
	@media (max-width: 768px) 
	{
		padding-left: 0;
		margin-left: 10px;
		p
		{
			margin-left: 0;
			&:nth-of-type(1) {margin-left: 0px;}
			&:nth-of-type(2) { margin-left: 0px;}
		}
	}
}

.supply__catalog-actions
{
	width: 100%;
	display: flex;
	font-size: 14px;
	margin-bottom: 15px;	
	.g-button-cart 
	{
		max-width: 146px;
		width: 100%;
		margin-left: 35px;
	}
	@media (max-width: 768px)
	{
		justify-content: center;
		.g-button-cart 
		{
			margin-left: 10px;
			svg {margin-right: 7px;}
			height: 35px;
		}
	}
}

.g-button-cart
{
	// margin-left: 35px;
	border-radius: 5px;
	height: 40px;
	border: 1px solid #EEEEEE;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {margin-right: 12px;}
	@media (max-width: 855px) {flex-grow: 1;}
	// @media (max-width: 768px) 
	// {
	// 	margin-left: 10px;
	// 	svg {margin-right: 7px;}
	// 	height: 35px;
	// }
}

.g-button-tabs
{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	// max-width: 40px;
	width: 40px;
	height: 40px;
	// width: 100%;
	margin-left: 10px;
	border: 1px solid #EEEEEE;
	@media (max-width: 768px) 
	{
		margin-right: 10px;
		min-width: 35px;
		height: 35px;
	}
}

.supply__show
{
	width: 100%;
	// height: 40px;
	padding-top: 11px;
	padding-bottom: 10px;
	border-top: 1px solid rgba(28, 41, 77, 0.15);
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	p 
	{
		margin: 0 auto;
		color: #1C294D;
	}
}